[Unit]
Description=Hue Emulator Service
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=30
StartLimitInterval=200
StartLimitBurst=5

WorkingDirectory=/home/__USER__/GassistPi/src/diyHue/
ExecStart=/home/__USER__/GassistPi/src/diyHue/HueEmulator3.py
ExecStop=/usr/bin/curl http://127.0.0.1/save
ExecStop=/bin/sleep 1

[Install]
WantedBy=multi-user.target
