[Unit]
Description=Google Assistant-Pushbutton
Wants=network-online.target
After=network-online.target

[Service]
Environment=VIRTUAL_ENV=/home/${USER}/env
Environment=PATH=/home/${USER}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/${USER}/env/bin/python -u /home/${USER}/GassistPi/src/pushbutton.py --project-id 'project-id'  --device-model-id 'saved-model-id'

WorkingDirectory=/home/${USER}/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=${USER}

[Install]
WantedBy=multi-user.target
