pyaudio>=0.2.11
aftership>=0.2
feedparser>=5.2.1
kodi-json>=1.0.0
gmusicapi>=11.0.1
googletrans>=2.2.0
gTTS>=2.0.1
gTTS-token==1.1.2
youtube_dl>=2018.09.10
PyChromecast>=2.2.0
pafy>=0.5.4
psutil>=5.4.5
urllib3>=1.22
google-api-python-client>=1.6.7
requests>=2.18.4
pushbullet.py>=0.11.0
python-vlc>=3.0.102
git+https://github.com/plamere/spotipy.git
pyyaml==3.12
spidev>=3.2
gpiozero>=1.4.1
numpy>=1.15.1
pycryptodomex==3.7.0
